@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Harmony_Regular';
  font-style: normal;
  /* 常规字体 */
  font-weight: 400;
  /* 常规字重 */
  src: url('/fonts/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Harmony_Regular';
  font-style: normal;
  /* 常规字体 */
  font-weight: 100;
  /* 轻字重 */
  src: url('/fonts/HarmonyOS_Sans_SC_Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'AWAVE';
  font-style: normal;
  /* 常规字体 */
  font-weight: 400;
  /* 常规字重 */
  src: url('/fonts/AWAVE-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'AWAVE_Italic';
  font-style: italic;
  /* 斜体字体 */
  font-weight: 400;
  /* 常规字重 */
  src: url('/fonts/AWAVE-Italics-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'FiraCode';
  font-style: normal;
  /* 常规字体 */
  font-weight: 400;
  /* 常规重量 */
  src: url('/fonts/FiraCode-Retina.ttf') format('truetype');
}