@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-style: normal;
    font-family: 'Harmony_Regular';
    src: url('https://www.jianguoyun.com/c/dl-file/HarmonyOS_Sans_SC_Regular.ttf?dt=she1lb&sd=fxvo8&kv=YXNoX2N4eUBvdXRsb29rLmNvbQ&vr=1&ud=2HB5aDBwCmJ5YgXXZBIIdsMtXNM2NHosJO4PNVPjCmw') format('truetype');
}